<!--<app-navbar [username]="loggedInUsername"></app-navbar>
<app-categories></app-categories>
<app-login (userLoggedIn)="onUserLoggedIn($event)"></app-login>-->
<app-navbar></app-navbar>
<div class="contact-container">
  <h2 style="text-align: center;">Sign in or register if you are not yet a member</h2>

  <div class="row">
    <div class="col-md-6">
      <div class="wrapper">
        <app-login></app-login>
      </div>
    </div>
    <div class="col-md-6">
      <div class="wrapper">
        <app-sign-up></app-sign-up>
      </div>
    </div>
  </div>
</div>
<!--<app-carousel></app-carousel>-->
<app-courses></app-courses>
<app-footer></app-footer>
